<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <div id="app">
        <h1>{{ titulo1 }}</h1>
        <ul>
            <li v-for="nombre of nombres">{{ nombre.nombre }} - {{ nombre.estado }} <span v-show="nombre.estado">Con Permisos</span> </li>
        </ul>
        <input type="text" v-model="nombre">
        <button @click="agregarNombre">agregar</button>
        <h3>{{ titulo2 }}</h3>
    <ul>
        <li v-for="producto of productos">{{ producto.descripcion }}</li>
    </ul>
    </div>
    
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="script.js"></script>
</body>
</html>